doctype html
html(lang="es-ES")
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Website Template"
        meta(name='description',content='')
        meta(name='keywords',content='')
        meta(name="Edinson Manuel Gutierrez Vargas" content='Templates para GreyCod3')

        //Facebook Meta Tags Compatir
        meta(property='og:title', content="")
        meta(property='og:description', content="")
        meta(property='og:type', content="website")
        meta(property='og:url', content="")
        meta(property='og:image', content="")

        //Favicon
        link(rel='shortcut icon', type='image/x-icon', href="images/favicon.png")

        //Estilos
        link(rel='stylesheet',href='css/main.css')

    body
        block content
        
        // Compilado de application.js
        script(src='/js/main.js')